/* Index StyleSheet */
body {
  background-color: rgba(245, 224, 185, 0.76);
}

.circle {
  position: relative;
  height: 200px;
  width: 200px;
  top: 50px;
  margin: 0 auto;
  background-color: rgb(218, 176, 86);
  background-image: url('https://scontent.fwlg3-1.fna.fbcdn.net/v/t39.30808-6/383781311_3598165230467435_3613548789083707942_n.jpg?stp=cp6_dst-jpg&_nc_cat=104&ccb=1-7&_nc_sid=a2f6c7&_nc_ohc=krOq4lANCQgAX89YvfS&_nc_ht=scontent.fwlg3-1.fna&oh=00_AfDlf4Z2514GAkiMlSWxtkog7Z6BeqHTL2R3oUTNVotogA&oe=652414D9');
  border-radius: 50%;
  background-size: contain;
}

.index-circle-small {
  padding: 5px 5px 5px 5px;
  height: 300px;
  width: 300px;
  background-color: rgb(218, 176, 86);
  border-radius: 50%;
  margin: 0 auto;
}

.subtitle {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  color: rgba(46, 43, 43, 0.658);
}

div.index-tehaerenga {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  color: rgba(218, 176, 86, 0.842);
  margin: 0 auto;
}

div.index-description {
  /*border: 5px solid rgba(218, 176, 86, 0.842);*/
  position: relative;
  background-color: rgb(243, 219, 175);
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  color: rgba(46, 43, 43, 0.658);
  text-align: center;
  line-height: 0.75;
  margin: auto;
}

div.index-tehoutaewa {
  position: relative;
  top: 40px;
  margin: auto;
  text-align: center;
}

span.color-orange {
  color: rgba(218, 176, 86, 0.842);
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: rgb(243, 219, 175);
}

li {
  float: left;
  margin: 0 auto;
}

li a {
  display: block;
  color: rgba(46, 43, 43, 0.658);
  left: 10px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  padding: 10px 10px;
  text-indent: 15px;
}

li a:hover {
  background-color: rgb(218, 176, 86);
}

/* Te Houtaewa StyleSheet*/

.blog-title {
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(218, 176, 86);
  background-color: rgba(243, 219, 175, 0.562);
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.blog-subtitle {
  font-size: 35px;
  font-family: 'Pacifico', cursive;
  color: rgba(46, 43, 43, 0.658);
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.blog-body {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgba(46, 43, 43, 0.658);
  text-align: center;
  padding: 10px 10px 10px;
}

.center {
  text-align: center;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgba(46, 43, 43, 0.658);
}

div.tehoutaewa-body {
  position: relative;
  background-color: rgb(243, 219, 175);
  padding: 0px 30px 0px 30px;
  top: 100px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  color: rgba(46, 43, 43, 0.658);
  text-align: center;
}

body.tehoutaewa {
  min-height: 100%;
  /* background-image: URL('https://volunteeringnorthland.nz/image/e9526654f001fb1b3d04eb56593d6dee.png?w=1200&h=630&fit=fill');*/
  background-image: URL(https://volunteeringnorthland.nz/image/e9526654f001fb1b3d04eb56593d6dee.png?w=auto&h=220&fit=max);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/*HTML and CSS Blog StyleSheet*/
/*Sprint 2*/

/*Margin, Border and Padding StyleSheet*/
div.sample {
  background-color: rgba(46, 43, 43, 0.555);
  width: 100px;
  height: 100px;
  border: 50px solid rgb(218, 176, 86);
  padding: 50px;
  margin: 0 auto;
}
div.explain {
  position: relative;
  background-color: rgb(243, 219, 175);
  padding: 10px 30px 30px 30px;
  top: 50px;
  left: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  color: rgba(46, 43, 43, 0.658);
  text-align: center;
  line-height: 1.5;
  margin: 0 auto;
}

footer.all-footer {
  text-align: left;
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.322);
  color: rgb(219, 155, 17);
  font-style: bolder;
  font-size: 20px;
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 50px;
}

/*table.menu {
  width: 30%;
  text-align: center;
  border-style: solid;
  border-color: rgb(218, 176, 86);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
}

.data {
  background-color: rgba(218, 176, 86, 0.712);
  text-decoration: underline;
}
*/
