.index-body-bg {
  background-color: rgba(245, 224, 185, 0.76);
}
.index-circle {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  background-color: rgb(218, 176, 86);
  border-radius: 50%;
}

.index-circle-small {
  padding: 5px 5px 5px 5px;
  height: 170px;
  width: 170px;
  background-color: rgb(218, 176, 86);
  border-radius: 50%;
  margin: 0 auto;
}

/*index divs and spans*/
div.index-avatar {
  position: relative;
  /*border: 5px solid rgba(218, 176, 86, 0.842);*/
  width: 210px;
  height: 210px;
  top: 50px;
  margin: 0 auto;
}

div.index-tehaerenga {
  text-align: center;
  /*border: 5px solid rgba(218, 176, 86, 0.842);*/
  /*top: 50px;*/
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  color: rgba(218, 176, 86, 0.842);
  margin: 0 auto;
}

div.index-description {
  /*border: 5px solid rgba(218, 176, 86, 0.842);*/
  position: relative;
  background-color: rgb(243, 219, 175);
  left: 0px;
  top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  color: rgba(46, 43, 43, 0.658);
  text-indent: 130px;
  line-height: 0.75;
}

div.index-tehoutaewa {
  position: relative;
  top: 40px;
  width: 20px;
}

span.color-orange {
  color: rgba(218, 176, 86, 0.842);
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: rgb(243, 219, 175);
}

li {
  float: left;
}

li a {
  display: block;
  color: rgba(46, 43, 43, 0.658);
  left: 10px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  padding: 10px 10px;
  text-indent: 15px;
}

li a:hover {
  background-color: rgb(218, 176, 86);
}

.blog-title {
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(218, 176, 86);
  background-color: rgba(243, 219, 175, 0.562);
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.blog-subtitle {
  font-size: 35px;
  font-family: 'Pacifico', cursive;
  color: rgba(46, 43, 43, 0.658);
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.blog-body {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgba(46, 43, 43, 0.658);
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.center {
  text-align: center;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgba(46, 43, 43, 0.658);
}

div.tehoutaewa-body {
  position: relative;
  background-color: rgb(243, 219, 175);
  padding: 0px 30px 0px 30px;
  top: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  color: rgba(46, 43, 43, 0.658);
  text-indent: 130px;
}

body.tehoutaewa {
  background-image: url('https://scontent.fwlg3-1.fna.fbcdn.net/v/t39.30808-6/302154549_465396488969484_1720303311647566087_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=a2f6c7&_nc_ohc=xLaTpcUEG1AAX8wBOsp&_nc_ht=scontent.fwlg3-1.fna&oh=00_AfA0Pt3vZbi3rdYPrw5ksFXqkvu4XM-u1Wv9V5chzlG01g&oe=6502C15F');
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*table.menu {
  width: 30%;
  text-align: center;
  border-style: solid;
  border-color: rgb(218, 176, 86);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
}

.data {
  background-color: rgba(218, 176, 86, 0.712);
  text-decoration: underline;
}
*/
